  body {
    background-color: #f6eedf;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #f57b51;
    border-width: 5px;
    width: 3%;
  }

  img {
    height: 200px;
  }

h1 {
  color: Black;
}


h3  {
color: #d63447;
}
